.imagenes{
    height: 400px;
}
.caja{
    background-image: url(img/fondo\ negro.jpg);
    position: relative;
    z-index: 1;
    padding: 20px;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: springgreen;
}
.caja p{
    font-size:20px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
}
.caja a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size:25px ;
}
.reserva{
    padding: 10px;
    background-color:springgreen ;
    color: blue;
}
footer{
    text-align: center;
    background-color: blue;
}
footer p{
    color: cornsilk;
    font-size: small;
}
.piscina{
    padding: 20px;
}

 