.espacio{
    padding: 30px;
}
.calendar{
    padding: 50px;
    background-color:blue;
    color: springgreen;
}   
.formulario{
    padding: 10px;
}
.enviar{
    font-size: medium;
    background-color:springgreen;
    color: blue;
}
.espacio{
    background-color:blue;
    color: springgreen;
}
main{
    background-image: url(img/fondo3\ 1920x1080.jpg);   
     position: relative;
     z-index: 1;} 
footer{
        padding: 50px ;
    background-color: black;
    }
footer p{
        color: whitesmoke;
        text-align: center;
        font-size: small;
    }
